@import '~bootstrap/scss/bootstrap';

html,body, .application-wrapper, #app { 
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    height: 100% !important;
    font-size: 0.96rem;
}

/* Bootstrap adjustments */
.dropdown-menu{
    border-radius: .5rem !important;
}

/* Image sizing */
.img-size10{height: 10px}
.img-size20{height: 20px}
.img-size30{height: 30px} 
.img-size40{height: 40px}
.img-size50{height: 50px}
.img-size60{height: 60px}
.img-size80{height: 80px}
.img-size90{height: 90px}
.img-size100{height: 100px}
.img-size110{height: 110px}
.img-size120{height: 120px}
.img-size130{height: 130px}
.img-size140{height: 140px}
.img-size150{height: 150px}

/* custom text colour */
.hover-text-gray-150:hover{
    color: rgba(150,150,150,1) !important;
}

.text-gray-400 {
    color: #d1d3e2 !important;
  }

/* Social media */
.btn-socialmedia{
    width: 40px;
}

/* Social media */
.btn-socialmedia{
    width: 40px;
}

.facebook{
    border-color: rgba(66,103,178,1);
    background-color: rgba(66,103,178,1);
    margin-bottom: 20px;
}
 
.twitter{
    border-color: rgba(29,161,242,1);
    background-color: rgba(29,161,242,1);
    margin-bottom: 20px;
}

.google{
    border-color: rgba(234,67,53,1);
    background-color: rgba(234,67,53,1);
    margin-bottom: 20px;
}

.linkedin{
    border-color: rgba(0,119,181,1);
    background-color: rgba(0,119,181,1);
    margin-bottom: 20px;
}

.microsoft{
    border-color: rgba(100,100,100,1);
    background-color: rgba(100,100,100,1);
    margin-bottom: 20px;
}

.instagram{
    border-color: rgba(237,73,89,1);
    background-color: rgba(237,73,89,1);
    margin-bottom: 20px;
}

.github{
    border-color: rgba(0,0,0,1);
    background-color: rgba(0,0,0,1);
    margin-bottom: 20px;
}
 
.input-group-text-60{
    width: 40px;
    text-align: center;
}

.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #ffffff;
    position: relative;
    top: -11px;
    z-index: 1;
}
 
.btn-icon-split {
    padding: 2;
    overflow: hidden;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
  }
  
.btn-icon-split .icon {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 0.375rem 0.75rem;
}
  
.btn-icon-split .text {
    display: inline-block;
    padding: 0.375rem 0.75rem;
}

.btn-icon-split.btn-sm .icon, .btn-group-sm > .btn-icon-split.btn .icon {
    padding: 0.25rem 0.5rem;
}
  
.btn-icon-split.btn-sm .text, .btn-group-sm > .btn-icon-split.btn .text {
    padding: 0.25rem 0.5rem;
}
  
.btn-icon-split.btn-lg .icon, .btn-group-lg > .btn-icon-split.btn .icon {
    padding: 0.5rem 1rem;
}
  
.btn-icon-split.btn-lg .text, .btn-group-lg > .btn-icon-split.btn .text {
    padding: 0.5rem 1rem;
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.border-left-primary {
    border-left: 5px solid #2176bd !important;
}

.border-left-success {
  border-left: 5px solid #38c172 !important; 
}

.border-left-danger {
    border-left: 5px solid #e3342f !important; 
}


/* Toggle buttons */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    margin: -4px;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  .input-group-prepend-100{
      width:120px;
  }